# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Svelte build output
public/build/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
logs/*.log

# Dependency directories
node_modules
